<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sales Volumes Forecast</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Sales Volumes Forecast</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://github.com/alibekU/sales_forecast">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/alibek-utyubayev-74402721/">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block results %}
<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Sales Volumes Forecast</h1>
        <p class="text-center">Predicting how many items will be sold next month based on historical data</p>
        <p class="text-center">This is an early beta version still in progress</p>
        <hr />
      
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                    <p class="text-left">
                        Instructions: <br/>
                        1. Download the template excel to see an example of input file structure<br/>
                        2. Create your own excel with at least 6 month of sales data similarly to the template<br/>
                        3. Upload your excel (or the template to see how the app works) by pressing "Choose file" <br/> 
                        4. Press 'Upload data and run prediction' button to generate a next month forecast<br/>
                        5. A link that allows to download results will apper after forecast is ready<br/>
                    </p> 
                    <div class="col-lg-offset-5">
                        <a href="{{ url_for('.download_template') }}">Download excel template</a>
                    </div>
                    <div class="col-lg-offset-5">
                        <form method=post enctype=multipart/form-data>
                            <input type=file name=file>
                            <input type=submit value='Upload data and run prediction'>
                        </form>
                    </div>
            </div>
        </div>
    </div>
   
</div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="text-center" style="color:red"> 
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <h3 class="text-center">File requirements:</h3>
                    <h5 class="text-center">
                        Your excel file must have at least 6 month of sales data, but no more than 10 thousand rows at this point, with each row as a transaction or daily aggregate, and the following fields:
                    </h5>
                    <p class="text-left">'date' - [mandatory field; text] date of sales transaction in the format dd.mm.yyyy, for example 31.12.2019 for December 31, 2019</p>
                    <p class="text-left">'shop_id' - [can be left blank if only one shop; text or number] id or name of the shop, must be unique for each separate shop</p>
                    <p class="text-left">'item_id' - [mandatory field; text or number] id or name of a sold item, must be unique for each separate item</p>
                    <p class="text-left">'item_price' - [mandatory field; number] price of a sold item</p>
                    <p class="text-left">'item_cnt_day' - [mandatory field; number] number of sold items in this transaction</p>
                    <p class="text-left">'item_name' - [can be left blank] name of a sold item if you want to have both id and name for an item</p>
                    <p class="text-left">'item_category_id' - [mandatory field; text or number] id or name of a category, must be unique for each separate category</p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
